<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'SIGNUP.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" forceOverscroll="false" class="ion-padding">
  <form (ngSubmit)="onSignup()">
    <ion-item>
      <ion-label position="floating" class="spaced-label">Name</ion-label>
      <ion-input [(ngModel)]="name" name="name" [placeholder]="'SIGNUP.NAME_PLACEHOLDER' | translate" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="spaced-label">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" [placeholder]="'SIGNUP.EMAIL_PLACEHOLDER' | translate" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="spaced-label">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" [placeholder]="'SIGNUP.PASSWORD_PLACEHOLDER' | translate" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">{{ 'SIGNUP.SIGNUP_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/login">{{ 'SIGNUP.LOGIN_LINK' | translate }}</ion-button>
  </form>
</ion-content>
