<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" forceOverscroll="false" class="ion-padding">
  <ion-input [(ngModel)]="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"></ion-input>
  <ion-input [(ngModel)]="password" [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate" type="password"></ion-input>
  <ion-button expand="block" (click)="login()">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</ion-button>
  <ion-button expand="block" fill="clear" (click)="goToSignup()">{{ 'LOGIN.SIGNUP_LINK' | translate }}</ion-button>
</ion-content>